body {
    min-height: 100vh;
    background-color: #f5faff;
    background-image: url(/static/img/cloud-bg.png);
    background-position: center bottom;
    background-repeat: no-repeat;
}

.animated-div {
    position: absolute;
    bottom: 60px;
}

.animation {
    max-height:100px;
}