body {
  min-height: 100vh;
  background-color: #f5faff;
}

.animated-div {
  position: absolute;
  bottom: 60px;
}

.animation {
  max-height: 100px;
}

.faded-appear {
  opacity: 0.3;
  transition: opacity 10000ms ease-in;
}
